<div class="container text-center mt-3 bg-light">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key %>')">
 <%= @cocktail.name %>
</div>

  <ul class="d-inline-block">
    <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item">
          <strong><%= dose.ingredient.name %></strong>
          <%= dose.description %>
          <%= link_to "Delete", dose_path(dose),
            method: :delete,
            data: { confirm: "Are you sure?" }
          %>
        </li>
    <% end %>
  </ul>
  <hr>
  <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
</div>
